*{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: aliceblue;
    position: sticky;
    height: 30px;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 150px;
}
#header img{
    width: 50px;
    height: 35px;
    border-radius: 10px;
}
#header h1{
   font-size: 2rem;
   padding-right: 550px;
   padding-bottom: 3px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.navbar li{
    list-style: none;
    padding: 10px 10px;
    padding-right: 0px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active{
    color: #088178;
}
.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 10px;
}
/* styling search bar */
.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: 1px solid black;
    padding-left: 15px;
}     
.search{
    float:left;
    margin:7px;
}
#header2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 50px;
    background: rgb(206, 208, 210);
    position: sticky;
    /* width: 100vw; */
    height: 30px;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 150px;
}
.navbar2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.navbar2 li{
    list-style: none;
    padding: 10px 10px;
    padding-right: 0px;
    position: relative;
}
.navbar2 li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.navbar2 li a:hover,
.navbar2 li a.active{
    color: #0a0881;
}
.navbar2 li a.active::after,
.navbar2 li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #0a0881;
    position: absolute;
    bottom: -4px;
    left: 10px;
}
#sm-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#sm-banner .banner-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://a10.gaanacdn.com/gn_img/showcase/BZgWoOW2d9/ZgWonrr32d/size_m_1698048952.webp');
    height: 250px;
    width: 45%;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}
#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://a10.gaanacdn.com/gn_img/showcase/lJvKa16KDV/JvKa7m2WDV/size_m_1692937424.webp');
    height: 250px;
    width: 45%;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}
#feature{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between ;
}
#feature .fe-box{
    /* display: flex; */
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    /* border: 1px solid #cce7d0; */
    margin: 15px 0;
    border-radius: 20px;
}
.F1{
    width: 300px;
    height: 150px;
    object-fit: fill;
    /* align-self:self-start;
    padding: 10px 10px ; */
    border-radius: 20px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box h4{
    float: left;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#Trending_Songs h2{
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 1000;
    font-size: 1.5rem;
}
#New_Releases h2{
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 1000;
    font-size: 1.5rem;
}
#Top_Charts h2{
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 1000;
    font-size: 1.5rem;
}
#Top_Artist h2{
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 1000;
    font-size: 1.5rem;
}
#H-Poluplar h2{
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 1000;
    font-size: 1.5rem;
}



